body {
  padding: 0;
  margin: 0;
  min-width: 100vh;
}

a, a:hover {
  text-decoration: none;
  color:rgb(144,28,64);
}

/** Header **/

header{
  padding-top:0.5%;
  background: rgb(247,247,247);
  min-height: 13vh;
  min-width: 100vh;
}

img.logo {
  max-width: 120px;
}

nav{
  height: 100%;
  max-height: 130px;
}

nav ul{
  position: absolute;
  bottom: 0;
}

nav ul li{
  display: inline;
  list-style: none;
  margin: 0px 5px 0px 5px;
  padding-bottom: 5px;
  transition: all ease .5s;
}

nav ul li:hover, .link-active {
  border-bottom:2px inset rgb(144,28,64);
  padding-bottom: 9px;
}

nav ul li a{
  color:rgb(144,28,64);
  text-transform: uppercase;
  font-weight: 500;
  font-size:15px;
}

.nav-fixed{
  transition: all ease .3s;
  position: fixed;
  top: 0;
  background:rgb(247,247,247);
  padding: 10px 0px 13px 0px;
  z-index: 10000;
}

.slider{
  background: #f2f2f2;
  width: 100%;
  height: 100%;
  min-height: 95vh;
  min-width: 70vh;
  background: url('../img/9a6f86_ff80bc61a20540218cbedcacd10946dc.png') no-repeat center center;
  background-size: cover;
}

/** Main */

main .swiper-container{
  min-width:100vh;
  max-height: 86vh;
}

main h2{
  font-size:36px;
  color:#222222;
  font-family: "Oswald",serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

main p{
  color: #484848;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
  padding-top:10px;
}

div.data-site{
  box-sizing: border-box;
  box-shadow: 0px 4px 8px 0px rgba(34,34,34,0.15);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 90px 30px 90px;
  width: 150%;
  position: absolute;
  z-index: 9999;
  background: #fff;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #484848;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}

span.number{
  font-size: 50px;
  float: left;
  color:rgb(144,28,64);
  text-rendering: optimizeLegibility;
  font-family: "Oswald",serif;
  line-height: 1.4;
}

div.paragraph{
  width:100%;
  text-align: center;
}

div.paragraph p {
  width: 60%;
  color: #484848;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}

div.slide-details{
  background:#fff;
  -webkit-box-shadow: 0 4px 8px rgba(34,34,34,.15);
  box-shadow: 0 4px 8px rgba(34,34,34,.15);
  padding: 2.5em 2em 1.875em 2em;
  width: 621px;
  height: 321px;
  position: absolute;
  z-index: 9999;
  text-align: left;
}

div.slider-counter{
  text-align: center;
  font-family: 'Oswald',serif;
}

.first-counter{
  color:#9f9f9f;
  font-size:2.25rem;
}

.last-counter{
  color:#dfdfdf;
  font-size:1.375rem;
}

a.more-link{
  text-transform: uppercase;
  font-weight: 700;
}

div.number{
  font-family: "Oswald",serif;
  font-size: 20px;
  font-size: 1.25rem;
  color:rgb(144,28,64);
  position: relative;
  display: inline-block;
  z-index: 1;
  line-height: 1;
}

span.square{
  background: #f2f2f2;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

h2.block-title{
  font-size: 1.375rem;
  margin-bottom: 1.33333em;
  margin-top: .8em;
  z-index: 1;
}

a.square-link{
  position: absolute;
  z-index: 9999;
  left: 55px;
  top:82px;
}

.square-img{
  margin-top: 60px;
  margin-left:-4px;
}

section.neigborhood{
  background: url('../img/neigborhood_bg.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-block{
  padding:30px;
  transition: all .5s ease;
  max-width: 90%;
}

.card-block:hover{
  -webkit-box-shadow: 0 8px 12px rgba(34,34,34,.15);
  box-shadow: 0 8px 12px rgba(34,34,34,.15);
}

footer{

}

.whatsapp{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

div.footer-copy{
  min-height: 400px;
  background: url('../img/footer.jpg');
}

div.footer-content{
  min-height: 400px;
  height: 400px;
  position: absolute;
  width: 100%;
}

.social ul{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.social ul li{
  display: inline-block;
  color: #f3f3f3;
  margin: 0px 6px;
}

.footer-copy span{
  -webkit-box-direction: normal;
  color: #dfdfdf;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  transition: border-color ease-in-out .15s,color ease-in-out .15s,background ease-in-out .15s;
}

.copyright{
  position: absolute;
  bottom:15px;
}

span.social{
  position: absolute;
  bottom:105px;
}

span.tel{
  position: absolute;
  bottom:195px;
}

span.address{
  position: absolute;
  bottom:225px;
}
