*{
    margin:0;
    padding: 0;
}

body{
    background-image: linear-gradient(linear-gradient(rgba(49,0 255,0.8)),url(img/show.png));
    background-size: cover;
    background-position: center;
}
.counter-section{
    margin: 10%;
    color:#fff;
}
.icon-box{
    border:1px solid #fff;
    height: 100px;
    width: 100px;
    margin: 20px auto;
    transform: rotate(45deg);
}
.icon-box .fa{
    font-size:40px;
    margin:25px auto;
    color:#ffc800;
    transform: rotate(-45deg);
}
.counter-box p{
    font-size: 20px;
}
.counter-box .counter{
    font-size:80px;
}