body {
  padding: 0;
  margin: 0;
  min-width: 100vh;
}


h1,h2,h3,h4,h5,h6{
  font-family: 'Oswald', sans-serif !important;
  font-weight: bold !important;
}

p{
  font-family: 'Roboto', sans-serif !important;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul.lista li::before {
  /* content: "\2022";  */
  /* color: 	 #e6e6e6;  */
  text-indent: -1em;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 2em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  /* Change the color */  /* Add content: \2022 is the CSS Code/unicode for a bullet */
}


a, a:hover {
  text-decoration: none;
  color:rgb(144,28,64);
}

/** Header **/

section.traco:before, section.traco:after{

  position: absolute;
  left: 50%;
  bottom: -40px;
  content: '';
  height: 80px;
  width: 1px;
  background: #dfdfdf;
  z-index: 1;
}

div.traco:after{
  position: absolute;
  left: 50%;
  bottom: -40px;
  content: '';
  height: 80px;
  width: 1px;
  background: #dfdfdf;
  z-index: 1;
}

header{
  padding-top:0.5%;
  /* background-color: white !important; */
  min-height: 13vh;
  min-width: 100vh;
}

img.logo {
  max-width: 202px;
  margin-top: 10px;
}

nav{
  height: 100%;
  max-height: 130px;
}

nav ul{
  position: absolute;
  bottom: 0;
}

nav ul li{
  display: inline;
  list-style: none;
  margin: 0px 5px 0px 5px;
  padding-bottom: 10px !important;
  transition: all ease .5s;
}

nav ul li:hover, .link-active {
  border-bottom:2px inset rgb(144,28,64);
  padding-bottom: 9px;
}

nav ul li a{
  color:rgb(144,28,64);
  text-transform: uppercase;
  font-weight: 500;
  font-size:15px;
}

.nav-fixed{
  transition: all ease .3s;
  position: fixed;
  top: 0;
  background:rgb(247,247,247);
  padding: 10px 0px 13px 0px;
  z-index: 10000;
}

.slider{
  background: #f2f2f2;
  width: 100%;
  height: 100%;
  min-height: 95vh;
  min-width: 70vh;
  background: url('../img/9a6f86_ff80bc61a20540218cbedcacd10946dc.png') no-repeat center center;
  background-size: cover;
}

/** Main */

main .swiper-container{
  min-width:100vh;
  max-height: 86vh;
}

main h2{
  font-size:36px;
  color:#222222;
  font-family: "Oswald",serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

main p{
  color: #484848;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
  padding-top:10px;
}

div.data-site{
  box-sizing: border-box;
  box-shadow: 0px 4px 8px 0px rgba(34,34,34,0.15);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 40px 30px 40px;
  width: 150%;
  position: absolute;
  z-index: 9999;
  background: #fff;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #484848;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}

div.data-tipob{
  box-sizing: border-box;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 5px 15px 10px 5px;
  width: 125%;
  /* position: absolute; */
  z-index: 9999;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  /* color: #484848; */
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}

/* testimonial */

div.photos img{
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

.testimonial-father{
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial-entry-content {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0 0 1.5em;
  padding: 1.25em;
  text-align: center;
}

.testimonial-entry-title{
  color: #222;
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: block;
}

.slick-dots {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.slick-dots li{
  background: #dfdfdf;
  margin: 0;
  width: 15px;
  height: 15px;
  position: relative;
  margin: 0px 10px;
  transition: all ease .3s;
}

.slick-dots li.active, .slick-dots li:hover {
  width: 23px;
  height: 23px;
  background:#7a68e2;
  border: 1px solid #7a68e2;
}

.slick-dots li button {
  opacity: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid #7a68e2;
  text-transform: uppercase;
  padding: 1.215em 2.85714em;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #7a68e2;
  -webkit-transition: background ease-in-out .15s,color ease-in-out .15s,border ease-in-out .15s;
  transition: background ease-in-out .15s,color ease-in-out .15s,border ease-in-out .15s;
  border-radius: 1.78571em;
  max-width: 458px;
}

.slick-dots li.slick-active:before {
  background: #7a68e2;
  width: 16px;
  height: 16px;
}

div.coltype{
  padding-left: 5px !important;
}

span.number{
  font-size: 50px;
  float: left;
  color:rgb(144,28,64);
  text-rendering: optimizeLegibility;
  font-family: "Oswald",serif;
  line-height: 1.4;
}



div.paragraph{
  width:100%;
  text-align: center;
}

div.paragraph p {
  width: 60%;
  color: #484848;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}

div.slide-details{
  background:#fff;
  -webkit-box-shadow: 0 4px 8px rgba(34,34,34,.15);
  box-shadow: 0 4px 8px rgba(34,34,34,.15);
  padding: 2.5em 2em 1.875em 2em;
  width: 621px;
  height: 321px;
  position: absolute;
  z-index: 9999;
  text-align: left;
}

div.slider-counter{
  text-align: center;
  font-family: 'Oswald',serif;
}

.first-counter{
  color:#9f9f9f;
  font-size:2.25rem;
}

.last-counter{
  color:#dfdfdf;
  font-size:1.375rem;
}

a.more-link{
  text-transform: uppercase;
  font-weight: 700;
}

div.number{
  font-family: "Oswald",serif;
  font-size: 20px;
  font-size: 1.25rem;
  color:rgb(144,28,64);
  position: relative;
  display: inline-block;
  z-index: 1;
  line-height: 1;
}

span.square{
  background: #f2f2f2;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

h2.block-title{
  font-size: 1.375rem;
  margin-bottom: 1.33333em;
  margin-top: .8em;
  z-index: 1;
}

a.square-link{
  position: absolute;
  z-index: 9999;
  left: 55px;
  top:82px;
}

.square-img{
  margin-top: 60px;
  margin-left:-4px;
}

/*  */

.back-image{
  background-image: url("img/varanda.png");
}

.back-image-2{
  background-image: url("img/predio.png");
}

.back-image-3{
  background-image: url("img/fotos/image_01.jpg");
}

.back-image-4{
  background-image: url("img/fotos/image_02.jpg") ;
}

.back-image-5{
  background-image: url("img/fotos/image_01.jpg");
}

/* classes images 440px .img_style{
  height:480px; 
  margin-left:10px;
  }

/*  margin-right: 70px;  
.img_style_2{
  height: 208px;
  margin-bottom: 5px;
  padding-left: 0px;
}

.image_style_3{
   
  padding-left:50px; 
  margin-right: 0px;
    height: 268px;
    padding-left: 0px;
  }

.img_style_4{
  height: 243px;
  margin-left: 98px;
}
.img_style_5{
  height: 243px;
  margin-left: 39px !important;
}
.img_style_6{
  height: 243px;
  margin-right: 0px;
}


.col_style{
  padding-left:65px;
}
.col_style_2{
  padding-right:20px; padding-left:60px;
}

.col_style_3{
  padding-right:5px; padding-left:50px;
}
.col_style_4{
  padding-top:8px; padding-right:150px; padding-left:0px;
}
.col_style_5{
  padding-left:0px; 
  padding-right:20px;
}
.col_style_6{
  padding-left:0px; 
  padding-right:10px !important;
}
.col_style_7{
  padding-left:85px;
  padding-right:80px;
}
.col_style_8{
  margin-left:0px; padding-right:50px;
}*/


section.neigborhood{
  background: url('../img/neigborhood_bg.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

div.card-block{
  padding:30px;
  transition: all .5s ease;
  max-width: 90%;
}

div.card-block:hover{
  background-color: #fff;
  -webkit-box-shadow: 0 8px 12px rgba(34,34,34,.15);
  box-shadow: 0 8px 12px rgba(34,34,34,.15);
}

footer{

}

.whatsapp{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

div.footer-copy{
  min-height: 400px;
  background: url('../img/footer.jpg');
}

div.footer-content{
  min-height: 400px;
  height: 400px;
  position: absolute;
  width: 100%;
}

.social ul{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.social ul li{
  display: inline-block;
  color: #f3f3f3;
  margin: 0px 6px;
}

.footer-copy span{
  -webkit-box-direction: normal;
  color: #dfdfdf;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  transition: border-color ease-in-out .15s,color ease-in-out .15s,background ease-in-out .15s;
}

.copyright{
  position: absolute;
  bottom:15px;
}

span.social{
  position: absolute;
  bottom:105px;
}

span.tel{
  position: absolute;
  bottom:195px;
}

span.address{
  position: absolute;
  bottom:225px;
}

.costyle{
  font-size: 50px;
  /* float: left; */
  color:#901c40;
  text-rendering: optimizeLegibility;
  font-family: "Oswald",serif;
  line-height: 1.4;
  font-family: "Roboto", Sans-serif;
}
@media(min-width:992px) and (max-width:1200px){
  
}
@media(min-width:768px) and (max-width:992){
 /* 
  .ed_img_style{
    padding-top: 440px;
    padding-left: 0px;
    margin-right: 0px
  }
  .data-site{
    width: 60%;
    margin-left: 40px;
  }
 */

}

@media(min-width:576px) and (max-width:768px){

}
 
